Forcing Content-Transfer-Encoding for a mail part is difficult

Some MIME types explicitly allow only a subset of possible transport encodings. For example, RFC 1847 "Security Multiparts" defines a "Multipart/Signed" MIME type, which [requires that its first component has transport encoding quoted-printable or base64](https://tools.ietf.org/html/rfc1847#section-2.1 ). Hence, under some circumstances, default encodings guessed by this gem are incorrect, and users have well-advocated need to override the transport encoding.

This gem's public API seems to provide three ways of setting content transfer encoding. Neither is documented, nor at least mentioned in README:

1. `Message#content_transfer_encoding=` — seems to have no permanent effect, and is reset on `Message#encoded` call
2. `Message#transfer_encoding=` — unusable for multipart messages, because inner part encoding is reset by `Message#encoded` call on the outer part
3. `Body#encoding=` — worked best in my case

Perhaps that many of encoding setters are necessary, however more documentation is really needed. At minimum, there should be some mention in README which hints the best way of forcing transport encoding.

For reference, my Pry session which shows the behaviour of these three methods is recorded in this Gist: https://gist.github.com/skalee/f724b3c69657aa0b836a9208b2505af1

/cc @ahorek

Hello,
I agree with @jeremy. IMO transfer encoding setters shouln't be public. Such API could be done, but right now these methods are used only for internal purposes and I don't see any real use case except testing.

_Message#content_transfer_encoding=_
this example should enforce the encoding (even if it violates standards) or it's just a prefered encoding?
 
There could be a case when a generated mail violates some RFC because of the wrong transport encoding. This should be adressed and fixed, especially if it causes real problems (the email could be rejected by MX or unreadable).
Could you share a minimal example, that demonstrates such behaviour? It shouldn't be hard to fix.

Hi @ahorek!

Thank you for your response.

Some software is known to modify/convert messages in a subtle way (e.g by converting the transfer encoding to 7bit, quoted-printable, or base64, or removing trailing spaces). It doesn't matter for many users because the meaning of the message is preserved. The message will be delivered, and will be readable. That said, when you're going to sign your message with Open PGP (and probably some other tools as well), you got another problem: such alterations typically invalidate the signature.

For this reason, both RFC 1847 "Security Multiparts", and RFC 3156 "MIME Security with OpenPGP", make restrictions on transfer encoding. They require that the signed message part is encoded either as quoted-printable or base64, and has no trailing spaces. And this is the only reason why I want to force the transfer encoding of my choice.

The problem is explained in detail in RFC 3156 section 3 "Content-Transfer-Encoding restrictions", and somewhat in RFC 1847 section 2.1 "Definition of Multipart/Signed".

* https://tools.ietf.org/html/rfc1847
* https://tools.ietf.org/html/rfc3156