Parsing multiple TO addresses

Hi there, I recently ran into an issue where Mail would not parse out multiple addresses in the To: field.   In the attached example, you can see the To: field references 2 addresses:

```
To: tkatz@one.com, Russell Romano <russell.romano@two.com>
```

However, when attempting to get the To: address of this, only the second email comes out:

``` ruby
>> Mail.new(email.to_s).to
["russell.romano@two.com"]
```

In section A.1.2 of RFC 2822, they list an example email that has a wild To: address:

```
To: Mary Smith <mary@x.test>, jdoe@example.org, Who? <one@y.test>
```

When I replace the To: field with the one listed in the RFC, again, only the last one comes out.

```
(rdb:1) e Mail.new(email.to_s).to
["one@y.test"]
```

My question is, is this a bug with parsing in Mail?  Or am I missing something?  

The email in question is here:  https://gist.github.com/gammons/b7af015a626de49385d9

Thank you in advance!
